DeepMove/codes\ old/*
DeepMove/data/foursquare/*
*.DS_Store*
results
*.pk
*.pkl
*.m
*.csv
*.pyc
LSTPM/train/data/*
*.json
*.zip
results/*
runs/*
*venv*
*.sif
analysis_outputs/*
Graph-Flashback/*
*.patch
mobleak.egg-info/*