2-predictive_models/DeepMove/codes\ old/*
2-predictive_models/DeepMove/data/foursquare/*
2-predictive_models/Graph-Flashback/data
2-predictive_models/Graph-Flashback/dataset/*
2-predictive_models/Graph-Flashback/.idea/*
2-predictive_models/Graph-Flashback/.vscode/*
2-predictive_models/LSTPM/train/data/*
*.DS_Store*
results
analysis_outputs/*
*.pk
*.pkl
*.m
*.csv
*.pyc
*.json
*.zip
*venv*
*.sif
*.patch
mobleak.egg-info/*
tex/*