networkx==3.4.2
pandas==2.3.1
numpy==2.3.3
subprocess-run
geopandas==1.0.1
torch==2.6.0
tqdm==4.67.1
scikit-learn
jupyter
matplotlib
seaborn
joypy
openpyxl
spacy==3.7.2
nltk==3.8.1
flatten_dict
sentence-transformers
textstat 
language_tool_python 
transformers 
hdbscan
haversine
geopy
fastdtw